<div class='container-fluid nopadding'>
  <div class='surrounding-nav-bar'>
    <nav class="navbar navbar-dark bg-inverse">``
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/"><img src='https://www.bjcc.org/img/ticket-icon.png' width='20px' height='20px'/> GENERAL ADMISSION</Link>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-issue">
        <li>
          <li><a href="/users/new">SIGN UP</a></li>
        </li>
      </ul>
    </nav>
  </div>
</div>


<div class='sign-in-page'>
  <div class='sign-in-window'>
    <h3 class='sign-in-header'>GENERAL ADMISSION</h3>
    <%= render "layouts/errors" %>

    <form class='sign-in-form' action="<%= session_url %>" method="post">
      <%= auth_token_input %>
        <div class='inputs'>
          <input class='email' type="text" name="user[username]" value="" placeholder='Username'>
          <input class='password' type="password" name="user[password]" value="" placeholder='Password'>
        </div>
        <div class='buttons'>
          <button type="submit" class="btn btn-primary btn-lg btn-block sign-in-button" value="SIGN IN">SIGN IN</button>
        </div>
    </form>
    <form class='sign-in-form' action="<%= session_url %>" method="post">
      <%= auth_token_input %>
        <div class='inputs'>
          <input class='email' type="hidden" name="user[username]" value="patwalls" placeholder='Username'>
          <input class='password' type="hidden" name="user[password]" value="123456" placeholder='Password'>
        </div>
        <div class='buttons'>
          <button type="submit" class="btn btn-primary btn-lg btn-block sign-in-button guest-login" value="GUEST LOGIN">GUEST LOGIN</button>
        </div>
    </form>
  </div>
</div>
