<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta name='viewport' content='width = device-width, initial-scale = 1'>
  <title>General Admission</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class='bg-body'>
<header>

<% if signed_in? %>
  <script type='text/javascript'>
    window.getCurrentUserId = <%= current_user.id %>;
  </script>
<% end %>

</header>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>
