<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width = device-width, initial-scale = 1'>
  <title>General Admission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type='text/css' href="css/bootstrap.css">
</head>
<body>
<header>
<% if signed_in? %>
  <script type='text/javascript'>
    window.getCurrentUserId = <%= current_user.id %>;
  </script>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>
</header>

<br>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>
